@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.bc-description__content p:first-letter {
  padding-left: 0 !important;
}

#rkt-philipsEp554790 {
  font-family: "Roboto", sans-serif;
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
  background: #fff;
}
#rkt-philipsEp554790 h2, #rkt-philipsEp554790 h3, #rkt-philipsEp554790 h4, #rkt-philipsEp554790 h5, #rkt-philipsEp554790 h6, #rkt-philipsEp554790 p {
  margin: 0;
  padding: 0;
  line-height: 1.2;
  text-align: left;
  text-transform: none;
}
#rkt-philipsEp554790 ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
#rkt-philipsEp554790 img {
  display: block;
  max-width: 100%;
  opacity: 1;
  margin: 0;
}
#rkt-philipsEp554790 img:hover {
  opacity: 1;
}
#rkt-philipsEp554790 h2 {
  font-size: 42px;
  font-weight: 900;
  color: #5D8A9D;
  text-align: left;
}
@media (max-width: 1023px) {
  #rkt-philipsEp554790 h2 {
    font-size: -webkit-calc(22px + 20 * (100vw - 320px) / 703);
    font-size: calc(22px + 20 * (100vw - 320px) / 703);
  }
}
#rkt-philipsEp554790 h3 {
  font-size: 30px;
  font-weight: 700;
}
@media (max-width: 1023px) {
  #rkt-philipsEp554790 h3 {
    font-size: -webkit-calc(20px + 10 * (100vw - 320px) / 703);
    font-size: calc(20px + 10 * (100vw - 320px) / 703);
  }
}
#rkt-philipsEp554790 p {
  font-size: 18px;
  font-weight: 400;
}
@media (max-width: 1023px) {
  #rkt-philipsEp554790 p {
    font-size: -webkit-calc(16px + 2 * (100vw - 320px) / 703);
    font-size: calc(16px + 2 * (100vw - 320px) / 703);
  }
}
#rkt-philipsEp554790 p::first-letter {
  padding-left: 0;
}
#rkt-philipsEp554790 ul {
  margin-left: 25px;
}
#rkt-philipsEp554790 ul li {
  font-size: 18px;
  margin-bottom: 10px;
}
@media (max-width: 1023px) {
  #rkt-philipsEp554790 ul li {
    font-size: -webkit-calc(16px + 2 * (100vw - 320px) / 703);
    font-size: calc(16px + 2 * (100vw - 320px) / 703);
  }
}

#rkt-philipsEp554790 .bc-description__content p {
  margin-bottom: 0;
}

#rkt-philipsEp554790 .bc-description__content h3 {
  text-align: left;
}

#rkt-philipsEp554790 .rkt-philipsEp554790__container {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 1006px;
  overflow: hidden;
  padding: 0 10px;
  margin: 0 auto;
}
#rkt-philipsEp554790 .rkt-philipsEp554790__banner, #rkt-philipsEp554790 .rkt-philipsEp554790__box {
  margin-bottom: 15px;
}

#rkt-philipsEp554790 .banner-philipsEp554790__inner {
  position: relative;
  z-index: 5;
}
#rkt-philipsEp554790 .banner-philipsEp554790__text {
  position: absolute;
  z-index: 6;
  top: 60%;
  left: 2%;
  right: 48%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 10px;
}
#rkt-philipsEp554790 .banner-philipsEp554790__text h2, #rkt-philipsEp554790 .banner-philipsEp554790__text p {
  color: #fff;
}
#rkt-philipsEp554790 .banner-philipsEp554790__text h2 {
  font-size: 42px;
  margin-bottom: 10px;
}
@media (max-width: 1023px) {
  #rkt-philipsEp554790 .banner-philipsEp554790__text h2 {
    font-size: -webkit-calc(15px + 27 * (100vw - 320px) / 703);
    font-size: calc(15px + 27 * (100vw - 320px) / 703);
  }
}
#rkt-philipsEp554790 .banner-philipsEp554790__text p {
  font-size: 36px;
}
@media (max-width: 1023px) {
  #rkt-philipsEp554790 .banner-philipsEp554790__text p {
    font-size: -webkit-calc(13px + 23 * (100vw - 320px) / 703);
    font-size: calc(13px + 23 * (100vw - 320px) / 703);
  }
}

#rkt-philipsEp554790 .philipsEp554790__box-bg {
  background-color: #4d8699;
}
#rkt-philipsEp554790 .philipsEp554790__box-content {
  padding: 10px 10px 10px 15px;
}
#rkt-philipsEp554790 .philipsEp554790__box-content p {
  color: #fff;
  text-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
}

#rkt-philipsEp554790 .col-box__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}
#rkt-philipsEp554790 .col-box__item:last-child {
  margin-bottom: 0;
}
#rkt-philipsEp554790 .col-box__img {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 60px;
     -moz-box-flex: 0;
      -ms-flex: 0 0 60px;
          flex: 0 0 60px;
}
#rkt-philipsEp554790 .col-box__text {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
     -moz-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 10px 10px 10px 20px;
}
#rkt-philipsEp554790 .col-box__text p {
  font-size: 23px;
}
@media (max-width: 1023px) {
  #rkt-philipsEp554790 .col-box__text p {
    font-size: -webkit-calc(13px + 10 * (100vw - 320px) / 703);
    font-size: calc(13px + 10 * (100vw - 320px) / 703);
  }
}
#rkt-philipsEp554790 .col-box__text p:first-child {
  font-size: 27px;
  margin-bottom: 5px;
}
@media (max-width: 1023px) {
  #rkt-philipsEp554790 .col-box__text p:first-child {
    font-size: -webkit-calc(15px + 12 * (100vw - 320px) / 703);
    font-size: calc(15px + 12 * (100vw - 320px) / 703);
  }
}

#rkt-philipsEp554790 .box-philipsEp554790__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: column-reverse;
     -moz-box-orient: vertical;
     -moz-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}
#rkt-philipsEp554790 .box-philipsEp554790__text {
  padding: 10px 5px;
}
#rkt-philipsEp554790 .box-philipsEp554790__text h2, #rkt-philipsEp554790 .box-philipsEp554790__text p {
  text-align: center;
}
#rkt-philipsEp554790 .box-philipsEp554790__text h2 {
  margin-bottom: 10px;
}

#rkt-philipsEp554790 .philipsEp554790-cleaning__inner {
  position: relative;
  z-index: 5;
  height: 600px;
}
@media (max-width: 1023px) {
  #rkt-philipsEp554790 .philipsEp554790-cleaning__inner {
    height: -webkit-calc(160px + 440 * (100vw - 320px) / 703);
    height: calc(160px + 440 * (100vw - 320px) / 703);
  }
}
#rkt-philipsEp554790 .philipsEp554790-cleaning__text {
  position: absolute;
  z-index: 6;
  bottom: 0;
  left: 0;
  right: 10px;
  padding: 10px;
}
#rkt-philipsEp554790 .philipsEp554790-cleaning__text h2, #rkt-philipsEp554790 .philipsEp554790-cleaning__text p {
  color: #fff;
  text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.58);
}
#rkt-philipsEp554790 .philipsEp554790-cleaning__text p {
  font-size: 23px;
}
@media (max-width: 1023px) {
  #rkt-philipsEp554790 .philipsEp554790-cleaning__text p {
    font-size: -webkit-calc(16px + 7 * (100vw - 320px) / 703);
    font-size: calc(16px + 7 * (100vw - 320px) / 703);
  }
}

#rkt-philipsEp554790 .philipsEp554790__box-video {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  z-index: -1;
}
#rkt-philipsEp554790 .philipsEp554790__box-video video {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
       -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
}

#rkt-philipsEp554790 .philipsEp554790-drinks {
  margin-bottom: 0;
}
#rkt-philipsEp554790 .philipsEp554790-drinks__title {
  padding: 10px 5px;
}
#rkt-philipsEp554790 .philipsEp554790-drinks__title h2 {
  text-align: center;
}
#rkt-philipsEp554790 .philipsEp554790-drinks__row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  gap: 5px;
}
#rkt-philipsEp554790 .philipsEp554790-drinks__item {
  position: relative;
  z-index: 5;
}
#rkt-philipsEp554790 .philipsEp554790-drinks__text {
  position: absolute;
  z-index: 6;
  bottom: 5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
       -o-transform: translateX(-50%);
          transform: translateX(-50%);
  margin-right: -50%;
  padding: 5px;
}
#rkt-philipsEp554790 .philipsEp554790-drinks__text p {
  color: #fff;
  text-shadow: 0px 4px 7px rgba(0, 0, 0, 0.5);
  text-align: center;
}
#rkt-philipsEp554790 .philipsEp554790-drinks__subtitle {
  padding: 10px 5px;
}
#rkt-philipsEp554790 .philipsEp554790-drinks__subtitle h3 {
  text-align: center;
}

#rkt-philipsEp554790 .philipsEp554790-touchpad__inner, #rkt-philipsEp554790 .philipsEp554790-profiles__inner {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#rkt-philipsEp554790 .row-rkt-philipsEp554790__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}
#rkt-philipsEp554790 .row-rkt-philipsEp554790__text {
  padding: 10px;
}
#rkt-philipsEp554790 .row-rkt-philipsEp554790__text h2, #rkt-philipsEp554790 .row-rkt-philipsEp554790__text p {
  text-align: center;
}
#rkt-philipsEp554790 .row-rkt-philipsEp554790__text h2 {
  margin-bottom: 10px;
}
#rkt-philipsEp554790 .row-rkt-philipsEp554790__image {
  padding: 0 20px;
  max-width: 538px;
}
#rkt-philipsEp554790 .row-rkt-philipsEp554790__image img {
  -webkit-border-radius: 25px;
          border-radius: 25px;
  -webkit-box-shadow: -8px 12px 14px 1px rgba(0, 0, 0, 0.3);
          box-shadow: -8px 12px 14px 1px rgba(0, 0, 0, 0.3);
  margin-bottom: 15px;
}
#rkt-philipsEp554790 .row-rkt-philipsEp554790__image_nobs {
  padding: 0;
}
#rkt-philipsEp554790 .row-rkt-philipsEp554790__image_nobs img {
  -webkit-box-shadow: none;
          box-shadow: none;
}
#rkt-philipsEp554790 .row-rkt-philipsEp554790__video {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 50%;
     -moz-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 0 20px;
  max-width: 420px;
}
#rkt-philipsEp554790 .row-rkt-philipsEp554790__video video {
  -webkit-border-radius: 25px;
          border-radius: 25px;
  -webkit-box-shadow: -8px 12px 14px 1px rgba(0, 0, 0, 0.3);
          box-shadow: -8px 12px 14px 1px rgba(0, 0, 0, 0.3);
  margin-bottom: 15px;
}

#rkt-philipsEp554790 .philipsEp554790-homeId__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: column-reverse;
     -moz-box-orient: vertical;
     -moz-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}
#rkt-philipsEp554790 .philipsEp554790-homeId__text {
  padding: 10px;
}
#rkt-philipsEp554790 .philipsEp554790-homeId__text h2, #rkt-philipsEp554790 .philipsEp554790-homeId__text p {
  text-align: center;
}
#rkt-philipsEp554790 .philipsEp554790-homeId__text h2 {
  margin-bottom: 10px;
}

#rkt-philipsEp554790 .philipsEp554790-grinder__inner {
  position: relative;
  z-index: 5;
  height: 600px;
}
@media (max-width: 1023px) {
  #rkt-philipsEp554790 .philipsEp554790-grinder__inner {
    height: -webkit-calc(160px + 440 * (100vw - 320px) / 703);
    height: calc(160px + 440 * (100vw - 320px) / 703);
  }
}
#rkt-philipsEp554790 .philipsEp554790-grinder__text {
  position: absolute;
  z-index: 6;
  padding: 10px;
  bottom: 0px;
  left: 0px;
  right: 10px;
}
#rkt-philipsEp554790 .philipsEp554790-grinder__text h2 {
  color: #fff;
  text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.58);
}

#rkt-philipsEp554790 .philipsEp554790-aquaclean__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: column-reverse;
     -moz-box-orient: vertical;
     -moz-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}
#rkt-philipsEp554790 .philipsEp554790-aquaclean__text {
  padding: 10px 5px;
}
#rkt-philipsEp554790 .philipsEp554790-aquaclean__text h3 {
  margin-bottom: 10px;
}
#rkt-philipsEp554790 .philipsEp554790-aquaclean__text h3, #rkt-philipsEp554790 .philipsEp554790-aquaclean__text p {
  text-align: center;
}

#rkt-philipsEp554790 .philipsEp554790-accessories__title {
  padding: 10px 5px;
}
#rkt-philipsEp554790 .philipsEp554790-accessories__title h2 {
  text-align: center;
}
#rkt-philipsEp554790 .philipsEp554790-accessories__item {
  padding: 0 5px;
}
#rkt-philipsEp554790 .philipsEp554790-accessories__item-img img {
  margin: 0 auto;
}
#rkt-philipsEp554790 .philipsEp554790-accessories__item-text h3 {
  text-align: center;
  margin-bottom: 10px;
}
#rkt-philipsEp554790 .philipsEp554790-accessories__item-text ul li {
  list-style: disc;
}

#rkt-philipsEp554790 .philipsEp554790-table__inner {
  padding: 0px 0px 15px;
}
#rkt-philipsEp554790 .philipsEp554790-table__header {
  padding: 15px 10px 25px;
}
#rkt-philipsEp554790 .philipsEp554790-table__header h2 {
  text-align: center;
}

#rkt-philipsEp554790 .box-table__cells {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  overflow-x: scroll;
  padding: 20px 10px 30px;
  background: -webkit-gradient(linear, left top, left bottom, from(#75BACA), to(#296681));
  background: -webkit-linear-gradient(#75BACA, #296681);
  background: -o-linear-gradient(#75BACA, #296681);
  background: linear-gradient(#75BACA, #296681);
}
#rkt-philipsEp554790 .box-table__cell {
  min-width: 115px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #fff;
  padding: 10px 5px;
}
#rkt-philipsEp554790 .box-table__cell:nth-child(6n+2) {
  background: #75BACA;
  border-right: none;
}
#rkt-philipsEp554790 .box-table__cell_header:nth-child(2) {
  grid-column: span 5;
  background: transparent;
}
#rkt-philipsEp554790 .box-table__cell:nth-child(-n+2) {
  border: none;
}
#rkt-philipsEp554790 .box-table__cell:nth-child(-n+8) {
  border-top: none;
}
#rkt-philipsEp554790 .box-table__cell:nth-last-child(-n+6) {
  border-bottom: none;
}
#rkt-philipsEp554790 .box-table__cell:nth-child(6n-3) {
  border-left: none;
}
#rkt-philipsEp554790 .box-table__cell:nth-child(6n-3) p {
  font-size: 18px;
  text-align: left;
}
@media (max-width: 1023px) {
  #rkt-philipsEp554790 .box-table__cell:nth-child(6n-3) p {
    font-size: -webkit-calc(15px + 3 * (100vw - 320px) / 703);
    font-size: calc(15px + 3 * (100vw - 320px) / 703);
  }
}
#rkt-philipsEp554790 .box-table__img {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
     -moz-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin-bottom: 10px;
}
#rkt-philipsEp554790 .box-table__text {
  width: 100%;
}
#rkt-philipsEp554790 .box-table__text p {
  font-size: 18px;
  margin: 10px 0px;
  text-align: center;
  color: #fff;
}
@media (max-width: 1023px) {
  #rkt-philipsEp554790 .box-table__text p {
    font-size: -webkit-calc(14px + 4 * (100vw - 320px) / 703);
    font-size: calc(14px + 4 * (100vw - 320px) / 703);
  }
}

#rkt-philipsEp554790 .aside__box {
  display: none;
}

@media (min-width: 479.98px) {
  #rkt-philipsEp554790 .rkt-philipsEp554790__banner, #rkt-philipsEp554790 .rkt-philipsEp554790__box {
    margin-bottom: 20px;
  }
  #rkt-philipsEp554790 .banner-philipsEp554790__text h2 {
    margin-bottom: 15px;
  }
  #rkt-philipsEp554790 .philipsEp554790__box-content {
    padding: 20px 15px 20px 20px;
  }
  #rkt-philipsEp554790 .col-box__img {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 90px;
       -moz-box-flex: 0;
        -ms-flex: 0 0 90px;
            flex: 0 0 90px;
  }
  #rkt-philipsEp554790 .philipsEp554790-cleaning__text {
    bottom: 40px;
    left: 10px;
    right: 35%;
  }
  #rkt-philipsEp554790 .philipsEp554790-cleaning__text h2 {
    margin-bottom: 15px;
  }
  #rkt-philipsEp554790 .philipsEp554790-drinks__row {
    grid-template-columns: repeat(3, 1fr);
  }
  #rkt-philipsEp554790 .philipsEp554790-drinks__row_sm {
    grid-template-columns: repeat(2, 1fr);
    padding: 10px 20px;
  }
  #rkt-philipsEp554790 .row-rkt-philipsEp554790__text h2 {
    margin-bottom: 20px;
  }
  #rkt-philipsEp554790 .row-rkt-philipsEp554790__image img {
    -webkit-border-radius: 40px;
            border-radius: 40px;
  }
  #rkt-philipsEp554790 .philipsEp554790-grinder__text {
    left: 10px;
    bottom: 40px;
    right: 15%;
  }
  #rkt-philipsEp554790 .philipsEp554790-aquaclean__text h3 {
    margin-bottom: 15px;
  }
}
@media (min-width: 767.98px) {
  #rkt-philipsEp554790 .rkt-philipsEp554790__banner {
    margin-bottom: 40px;
  }
  #rkt-philipsEp554790 .banner-philipsEp554790__text {
    right: 55%;
    padding: 10px 20px;
  }
  #rkt-philipsEp554790 .banner-philipsEp554790__text h2 {
    margin-bottom: 25px;
  }
  #rkt-philipsEp554790 .philipsEp554790__box-content {
    padding: 40px 30px;
  }
  #rkt-philipsEp554790 .cols-box__inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;
  }
  #rkt-philipsEp554790 .cols-box__col {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 50%;
       -moz-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
  #rkt-philipsEp554790 .box-philipsEp554790__text {
    padding: 30px 25px;
  }
  #rkt-philipsEp554790 .box-philipsEp554790__text h2 {
    margin-bottom: 25px;
  }
  #rkt-philipsEp554790 .philipsEp554790-cleaning__text {
    bottom: 75px;
    left: 20px;
    right: 45%;
  }
  #rkt-philipsEp554790 .philipsEp554790-cleaning__text h2 {
    margin-bottom: 25px;
  }
  #rkt-philipsEp554790 .philipsEp554790-drinks {
    margin-bottom: 0;
  }
  #rkt-philipsEp554790 .philipsEp554790-drinks__title {
    padding: 10px 20px 30px;
  }
  #rkt-philipsEp554790 .philipsEp554790-drinks__body {
    padding: 0 40px;
  }
  #rkt-philipsEp554790 .philipsEp554790-drinks__row {
    grid-template-columns: repeat(4, 1fr);
  }
  #rkt-philipsEp554790 .philipsEp554790-drinks__row_sm .philipsEp554790-drinks__item:nth-child(1) {
    grid-column: 2/3;
  }
  #rkt-philipsEp554790 .philipsEp554790-drinks__row_sm .philipsEp554790-drinks__item:nth-child(2) {
    grid-column: 3/4;
  }
  #rkt-philipsEp554790 .philipsEp554790-drinks__subtitle {
    padding: 30px 10px 20px;
  }
  #rkt-philipsEp554790 .row-rkt-philipsEp554790__inner {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
       -moz-box-orient: horizontal;
       -moz-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    gap: 20px;
    margin-bottom: 20px;
  }
  #rkt-philipsEp554790 .row-rkt-philipsEp554790__inner_rev {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #rkt-philipsEp554790 .row-rkt-philipsEp554790__item {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 50%;
       -moz-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
  #rkt-philipsEp554790 .row-rkt-philipsEp554790__text {
    padding: 10px 30px;
  }
  #rkt-philipsEp554790 .row-rkt-philipsEp554790__text h2, #rkt-philipsEp554790 .row-rkt-philipsEp554790__text p {
    text-align: left;
  }
  #rkt-philipsEp554790 .row-rkt-philipsEp554790__text h2 {
    margin-bottom: 25px;
  }
  #rkt-philipsEp554790 .row-rkt-philipsEp554790__image {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 50%;
       -moz-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    max-width: 100%;
  }
  #rkt-philipsEp554790 .philipsEp554790-homeId__inner {
    position: relative;
    z-index: 5;
  }
  #rkt-philipsEp554790 .philipsEp554790-homeId__text {
    position: absolute;
    z-index: 6;
    top: 50%;
    left: 0;
    right: 60%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
         -o-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  #rkt-philipsEp554790 .philipsEp554790-homeId__text h2 {
    font-size: 30px;
    color: #fff;
  }
}
@media (min-width: 767.98px) and (max-width: 1023px) {
  #rkt-philipsEp554790 .philipsEp554790-homeId__text h2 {
    font-size: -webkit-calc(22px + 8 * (100vw - 320px) / 703);
    font-size: calc(22px + 8 * (100vw - 320px) / 703);
  }
}
@media (min-width: 767.98px) {
  #rkt-philipsEp554790 .philipsEp554790-homeId__text p {
    font-size: 16px;
  }
  #rkt-philipsEp554790 .philipsEp554790-homeId__text h2, #rkt-philipsEp554790 .philipsEp554790-homeId__text p {
    text-align: left;
  }
  #rkt-philipsEp554790 .philipsEp554790-grinder__text {
    bottom: 75px;
    left: 20px;
    right: 25%;
  }
  #rkt-philipsEp554790 .philipsEp554790-aquaclean__inner {
    position: relative;
    z-index: 5;
  }
  #rkt-philipsEp554790 .philipsEp554790-aquaclean__text {
    position: absolute;
    z-index: 6;
    top: 50%;
    left: 0;
    right: 60%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
         -o-transform: translateY(-50%);
            transform: translateY(-50%);
    padding: 10px 30px;
  }
  #rkt-philipsEp554790 .philipsEp554790-aquaclean__text h3, #rkt-philipsEp554790 .philipsEp554790-aquaclean__text p {
    text-align: left;
  }
  #rkt-philipsEp554790 .philipsEp554790-accessories__title {
    padding: 10px 20px 30px;
  }
  #rkt-philipsEp554790 .philipsEp554790-accessories__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  #rkt-philipsEp554790 .philipsEp554790-table__header {
    padding: 25px 10px 35px;
  }
}
@media (min-width: 991.98px) {
  #rkt-philipsEp554790 .philipsEp554790__box-bg {
    background-image: url("../img/img02.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    -webkit-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
  }
  #rkt-philipsEp554790 .philipsEp554790__box-image {
    display: none;
  }
  #rkt-philipsEp554790 .philipsEp554790__box-content {
    padding: 20px;
  }
  #rkt-philipsEp554790 .cols-box__inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #rkt-philipsEp554790 .cols-box__col {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 36%;
       -moz-box-flex: 0;
        -ms-flex: 0 1 36%;
            flex: 0 1 36%;
  }
  #rkt-philipsEp554790 .col-box__item {
    margin-bottom: 15px;
  }
  #rkt-philipsEp554790 .col-box__img {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 25%;
       -moz-box-flex: 0;
        -ms-flex: 0 1 25%;
            flex: 0 1 25%;
  }
  #rkt-philipsEp554790 .col-box__text {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 75%;
       -moz-box-flex: 0;
        -ms-flex: 0 1 75%;
            flex: 0 1 75%;
    padding: 10px;
  }
  #rkt-philipsEp554790 .box-philipsEp554790__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #rkt-philipsEp554790 .philipsEp554790-homeId__text {
    left: 20px;
  }
}
@media (min-width: 1024px) {
  #rkt-philipsEp554790 .rkt-philipsEp554790__wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #rkt-philipsEp554790 .rkt-philipsEp554790__container {
    padding: 0;
    margin: 0;
  }
  #rkt-philipsEp554790 .rkt-philipsEp554790__container h2 {
    font-size: 26px;
  }
  #rkt-philipsEp554790 .rkt-philipsEp554790__container h3 {
    font-size: 20px;
  }
  #rkt-philipsEp554790 .rkt-philipsEp554790__container p {
    font-size: 18px;
  }
  #rkt-philipsEp554790 .rkt-philipsEp554790__container ul li {
    font-size: 18px;
  }
  #rkt-philipsEp554790 .rkt-philipsEp554790__banner {
    margin-bottom: 50px;
  }
  #rkt-philipsEp554790 .rkt-philipsEp554790__box {
    margin-bottom: 50px;
  }
  #rkt-philipsEp554790 .rkt-philipsEp554790__box_nomb {
    margin-bottom: 0;
  }
  #rkt-philipsEp554790 .rkt-philipsEp554790__row {
    padding: 0 20px;
  }
  #rkt-philipsEp554790 .banner-philipsEp554790__text {
    padding: 10px 25px;
  }
  #rkt-philipsEp554790 .banner-philipsEp554790__text h2 {
    margin-bottom: 35px;
  }
  #rkt-philipsEp554790 .banner-philipsEp554790__text p {
    font-size: 24px;
  }
  #rkt-philipsEp554790 .philipsEp554790-cleaning__inner {
    max-height: 700px;
    height: -webkit-calc(200px + 400 * (100vw - 320px) / 1600);
    height: calc(200px + 400 * (100vw - 320px) / 1600);
  }
  #rkt-philipsEp554790 .col-box__text p {
    font-size: 16px;
  }
  #rkt-philipsEp554790 .col-box__text p:first-child {
    font-size: 20px;
  }
  #rkt-philipsEp554790 .philipsEp554790-drinks__title {
    padding: 30px 20px;
  }
  #rkt-philipsEp554790 .philipsEp554790-grinder__inner {
    max-height: 700px;
    height: -webkit-calc(200px + 400 * (100vw - 320px) / 1600);
    height: calc(200px + 400 * (100vw - 320px) / 1600);
  }
  #rkt-philipsEp554790 .philipsEp554790-grinder__text h2 {
    margin-bottom: 0;
  }
  #rkt-philipsEp554790 .box-philipsEp554790__video {
    padding: 0 20px;
  }
  #rkt-philipsEp554790 .philipsEp554790-accessories__title {
    padding: 0px 25px 30px;
  }
  #rkt-philipsEp554790 .philipsEp554790-accessories__items {
    padding: 0 20px;
  }
  #rkt-philipsEp554790 .philipsEp554790-table__header {
    padding: 35px 10px 45px;
  }
  #rkt-philipsEp554790 .box-table__cell {
    min-width: 100px;
  }
  #rkt-philipsEp554790 .box-table__cell:nth-child(6n-3) p {
    font-size: 17px;
  }
  #rkt-philipsEp554790 .box-table__text p {
    font-size: 16px;
  }
  #rkt-philipsEp554790 .aside__box {
    display: block;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    background-color: #9ec898;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 360px;
       -moz-box-flex: 0;
        -ms-flex: 0 0 360px;
            flex: 0 0 360px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1200px) {
  #rkt-philipsEp554790 .philipsEp554790__box-bg {
    background-image: none;
  }
  #rkt-philipsEp554790 .philipsEp554790__box-image {
    display: block;
  }
  #rkt-philipsEp554790 .philipsEp554790__box-content {
    padding: 40px 30px;
  }
  #rkt-philipsEp554790 .cols-box__inner {
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
       -moz-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  #rkt-philipsEp554790 .cols-box__col {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 50%;
       -moz-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
  #rkt-philipsEp554790 .philipsEp554790-drinks__row {
    grid-template-columns: repeat(3, 1fr);
  }
  #rkt-philipsEp554790 .philipsEp554790-drinks__row_sm {
    grid-template-columns: repeat(2, 1fr);
  }
  #rkt-philipsEp554790 .philipsEp554790-drinks__row_sm .philipsEp554790-drinks__item:nth-child(1) {
    grid-column: 1/2;
  }
  #rkt-philipsEp554790 .philipsEp554790-drinks__row_sm .philipsEp554790-drinks__item:nth-child(2) {
    grid-column: 2/3;
  }
  #rkt-philipsEp554790 .philipsEp554790-homeId__text {
    left: 10px;
    right: 61%;
  }
  #rkt-philipsEp554790 .philipsEp554790-homeId__text h2 {
    font-size: 22px;
  }
  #rkt-philipsEp554790 .philipsEp554790-homeId__text p {
    font-size: 16px;
  }
  #rkt-philipsEp554790 .philipsEp554790-aquaclean__text {
    right: 55%;
  }
  #rkt-philipsEp554790 .philipsEp554790-accessories__items {
    grid-template-columns: repeat(2, 1fr);
  }
  #rkt-philipsEp554790 .box-table__cell:nth-child(6n-3) p {
    font-size: 15px;
  }
  #rkt-philipsEp554790 .box-table__text p {
    font-size: 14px;
  }
}/*# sourceMappingURL=style.css.map */